* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2{
    margin-left: 440px;
    font-size: 40px;
    
}

.Icons{
    display: flex;
    justify-content: space-around;
    padding-top:100px;
}